<body>

    <mat-card>
    
        <mat-card-content >
      
          <h1>Send Notification</h1>
        
        <form [formGroup]="notificationForm" (ngSubmit)="sendNotification()">

        
          <mat-form-field appearance="outline">
      
      
            <mat-label>Description</mat-label>
        
             <textarea matInput  placeholder="Description"   formControlName="message"> </textarea>
      
          </mat-form-field>  
         
        <button mat-raised-button color="primary" type="submit" >Send</button>
        
    
        </form>
        
        </mat-card-content>

      </mat-card>
      


</body>
