mat-card{


    display: flex;
 
    flex-direction: column;
 
 
    margin-left: 300px;
 
    margin-top: 15px;
 
    margin-right: 300px;
 
 
 }
 
 
 form{
 
 
     display: flex;
 
     flex-direction: column;
 

 }



 mat-card button{ 

    margin-top: 20px;

    width: 100px;

   }