<div class="container">
    
          
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6">
            <div class="white-box text-center"><img src="{{apiServerUrl}}/img/{{candidate.student.image}}" class="img-responsive"></div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6">
  
            <h1 class="box-title mt-5">{{candidate.student.lastName}} {{candidate.student.firstName}}</h1>
      
            <h2 class="box-title mt-5">Identifier : {{candidate.student.identifier}}</h2>

            <h2 class="box-title mt-3">CIN : {{candidate.student.cin}}</h2>

            <h2 class="box-title mt-3">Email : {{candidate.student.email}}</h2>

            <h2 class="box-title mt-3">Phone : {{candidate.student.phone}}</h2>

            <h2 class="box-title mt-3">Class : {{candidate.student.studentClass}}</h2>
            
            
           
  </div>
  </div>
  </div>