<body>


    <div class="container1">


        <button mat-raised-button color="primary" class="add-button" (click)="makePDF()">Download contrat</button>


    </div>

    <div  id ="content"  #content>


        <h2>Learning curves</h2>

<table  class="table table-striped table-bordered tab">
    <thead>
        <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Address</th>
        
        </tr>
    </thead>
    <tbody>

        <tr>


            <td><span>{{candidate.student.firstName}} {{candidate.student.lastName}}</span></td>

            
            <td><span>Miladi</span></td>

              
            <td><span>ok</span></td>


            


          
           




        </tr>
       
    </tbody>
</table>



</div>



</body>
