<body>


    <div class="container">

<table  class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>University Name</th>
        <th>Name</th>
        <th>Identifier</th>
        <th>CIN</th>
        <th>Email</th>
        <th>Class</th>
        <th>Details</th>
        <th>Notification</th>
        </tr>
    </thead>
    <tbody>

        <tr  *ngFor="let candidate of candidates | paginate :{id:'listing_pagination',
        itemsPerPage:9,
        currentPage:page}">


            <td><span>{{candidate.university.name}}</span></td>

            <td><span>{{candidate.student.firstName}} {{candidate.student.lastName}}</span></td>
         
            <td><span>{{candidate.student.identifier}}</span></td>

            <td><span>{{candidate.student.cin}}</span></td>

            <td><span>{{candidate.student.email}}</span></td>
            
            <td><span>{{candidate.student.studentClass}}</span></td>

            <td><button  mat-raised-button color="primary"  routerLink="/MoveOnEsprit/candidate/details/{{candidate.id}}">Details</button></td>

            <td><button  mat-raised-button color="primary"  routerLink="/MoveOnEsprit/send/notification/{{candidate.id}}">Notification</button></td>


        </tr>
       
    </tbody>
</table>

<div class="pagination_container">

<pagination-controls id ='listing_pagination' (pageChange)="page = $event" ></pagination-controls>

</div>


</div>



</body>

