.container {

    margin: 50px;
    
    
    }
    
    .pagination_container {
    
    
        display: flex;
    
        justify-content: center;
        
        margin-top: 20px;
    
    
    }