<body>

    <mat-card>
    
        <mat-card-content >
      
          <h1>Edit Profile</h1>
        
        <form [formGroup]="profileForm" (ngSubmit)="editProfile()" class="okk">

        
          <mat-form-field appearance="outline">
      
      
            <mat-label>lastName</mat-label>
        
             <input matInput  placeholder="lastName"   formControlName="lastName">
        

          </mat-form-field>  
        
          <mat-form-field appearance="outline">
        
            <mat-label>firstName</mat-label>
      
            <input matInput placeholder="firstName" formControlName="firstName">
        
            
         </mat-form-field> 

         <mat-form-field appearance="outline">
        
            <mat-label>Email</mat-label>
      
            <input matInput placeholder="Email" formControlName="email" >
        
         </mat-form-field> 

         
        <mat-form-field appearance="outline">
      
         <mat-label>Password</mat-label>
   
         <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" >
     
         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">

           <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

         </button>
   

      </mat-form-field> 
     
         <mat-form-field appearance="outline">
        
            <mat-label>Phone</mat-label>
      
            <input matInput placeholder="Phone" formControlName="phone" >
        
            
         </mat-form-field> 

         <mat-form-field appearance="outline">
        
            <mat-label>Description</mat-label>
      
            <textarea matInput placeholder="description" formControlName="description" > </textarea>
        
            
         </mat-form-field> 

         <input type="file"  name="file" (change)="getFile($event)"/>

        
        <button mat-raised-button color="primary" type="submit" >Edit</button>
        

        </form>
        
        </mat-card-content>

      </mat-card>
      


</body>



